<!DOCTYPE html>

    <head>
        <title> Blinkt RPI </title>
        <link rel="stylesheet" href='../static/master.css'/>
    </head>

    <body>
        <h1><center> RaspberryPi Blinkt Control </center></h1>
        <h2> Blinkt Options: </h2>
        <h3>       
            <a href="/mwl" class="button"> Moving White Light </a>
        </h3>
        <h3>      
            <a href="/rainbow" class="button"> Rainbow </a>
	</h3>
	<h3>
            <a href="/off" class="button"> Clear </a>
        </h3>         
    </body>

</html>
